@import "reset.less";

@font-stack: 'Libre Franklin', Franklin Gothic, Helvetica, sans-serif;

@gray: #f0f0f0;
@accent: #FF5252;
@black: #212121;

body {
	background: @gray;
	font-family: @font-stack;
	color: @black;
	line-height: 1.5;
}

h1 {
	padding: 24px 32px;
	> div {
		margin-top: 12px;
		background: @gray;
		padding-top: 8px;
	}
}

h1, h2 {
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 1px;
}

h3 {
	font-size: 18px;
}

a {
	color: inherit;
}

.red {
	color: @accent;
	fill: @accent;
}

.wrapper {
	max-width: 1008px; // 960 base
	padding: 0 24px;
	margin: auto;
}

header#main-header {
	margin-top: 72px;
	position: relative;
	.box {
		border: 2px solid @accent;
		position: absolute;
		width: 65%;
		height: 100%;
		top:0;
		left:0;
		z-index: -1;
	}
}

.row {
	margin-bottom: 72px;
	&.half {
		width: 50%;
	}
}

.projects {
	h2 {
		display: inline-block;
		vertical-align: middle;
		margin: 0 8px;

	}
	header {
		width: 30%;
		border-bottom: 2px solid @black;
		margin-bottom: 48px;
		padding-bottom: 24px;
	}
	svg {
		vertical-align: middle;
		path {
			fill: @accent;
		}
	}
	ul.flex-4 {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -16px;
		li {
			width: 25%;
			flex: 0 1 auto;
			padding: 0 16px;
			margin-bottom: 12px;
			@media all and (max-width: 799px) {
				width: 50%;
			}
			.image-container {
				background: #999;
				margin-bottom: 12px;
				position: relative;
				padding-bottom: 78%;
				overflow: hidden;
				img {
					position: absolute;
					width: 100%;
				}
			}
		}
		&.placeholder {
			.image-container {
				padding-bottom: 78%;
			}
			.image-container, .text-block {
				animation: test 2s infinite;
			}
		}
		&.dribbble {
			.image-container {
				padding-bottom: 75%;
			}
		}
		&.ng-hide {
			display: none;
		}
	}
	h3 {
		height: 54px;
		overflow: hidden;
	}
	a {
		text-decoration: none;
	}
}

.text-block {
	height: 12px;
	background: #999;
	margin: 6px 0 12px;
	&.short {
		width: 75%;
	}
}

@keyframes test {
	0% {
		background: #bbb;
	}
	50% {
		background: #999;
	}
	100% {
		background: #bbb;
	}
}