doctype html
html(ng-app="portfolio" ng-cloak)
	head
		title Design by Taylor Palmer
		meta(name="description" content="I'm a designer and coder in Utah. This is a hub for all of my design work and social channels.")
		meta(name="ROBOTS" content="INDEX, FOLLOW")
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,600" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet" type="text/css")
	body(ng-controller="portfolioCtrl")
		.wrapper
			header#main-header.row
				.box
				h1
					span.red Hi, I'm Taylor. 
					div I’m a designer and coder in Utah. You can find me designing at 
						a.underline(href="golucid.co" title="Lucid Software") Lucid Software
						| , or you can see my work below.
				.social-icons
					a(href="mailto: tpalmer.ixd@gmail.com" title="Email")
						span.screen-reader Email
						include includes/email.svg
					a(target="_blank" href="https://www.behance.net/tpalmerixd" title="Behance")
						span.screen-reader Behance
						include includes/behance.svg
					a(target="_blank" href="https://dribbble.com/taylorpalmer" title="Dribbble")
						span.screen-reader Dribbble
						include includes/dribbble.svg
					a(target="_blank" href="https://www.twitter.com/@_taylorpalmer" title="Twitter")
						span.screen-reader Twitter
						include includes/twitter.svg
					a(target="_blank" href="https://medium.com/@taylorp" title="Medium")
						span.screen-reader Medium
						include includes/medium.svg
					a(target="_blank" href="https://github.com/tpalmer75" title="Github")
						span.screen-reader Github
						include includes/github-circle.svg
					a(target="_blank" href="http://codepen.io/tpalmer75/" title="Codepen")
						span.screen-reader Codepen
						include includes/codepen.svg
					a(target="_blank" href="https://www.linkedin.com/in/taylor-palmer-6264a171" title="LinkedIn")
						span.screen-reader LinkedIn
						include includes/linkedin.svg

			.row
				.projects
					header
						a(target="_blank" href="https://www.behance.net/tpalmerixd" title="Taylor Palmer on Behance")
							include includes/behance.svg
							h2 Behance
							include includes/arrow-right.svg
					ul.flex-4.placeholder(ng-hide="behanceLoaded")
						li
							.image-container
							.text-block
							.text-block.short
						li
							.image-container
							.text-block
							.text-block.short
						li
							.image-container
							.text-block
							.text-block.short
						li
							.image-container
							.text-block
							.text-block.short
					ul.flex-4.behance.ng-hide(ng-show="behanceLoaded")
						li(ng-repeat="project in behance | limitTo:4")
							a(target="_blank" href="{{ project.url }}")
								.image-container
									img(ng-src="{{ project.covers.original }}" alt="{{ project.name }}")
								h3 {{ project.name }}
			.row.parent
				.projects.medium.half
					header
						a(target="_blank" href="https://medium.com/@taylorp" title="@taylorp on Medium")
							include includes/medium.svg
							h2 Medium
							include includes/arrow-right.svg
					ul.placeholder(ng-hide="mediumLoaded")
						li
							include includes/bookmark-outline.svg
							div(style="flex: 1;")
								.text-block
								.text-block.short
						li
							include includes/bookmark-outline.svg
							div(style="flex: 1;")
								.text-block
								.text-block.short
						li
							include includes/bookmark-outline.svg
							div(style="flex: 1;")
								.text-block
								.text-block.short
						li
							include includes/bookmark-outline.svg
							div(style="flex: 1;")
								.text-block
								.text-block.short
					ul.ng-hide(ng-show="mediumLoaded")
						li(ng-repeat="story in medium | limitTo:4")
							include includes/bookmark-outline.svg
							//- span {{ story.publishedDate | date: 'MM-dd-yyyy'}}
							a(target="_blank" href="{{ story.link }}")
								h3 {{ story.title }}
				.projects.accomplishments.half
					header
						include includes/trophy.svg
						h2 Accomplishments
					ul
						li
							h3 Featured on 
								a.underline(target="_blank" href="https://www.producthunt.com/tech/ux-tools-2") Product Hunt
								|  for 
								a.underline(target="_blank" href="http://uxtools.co") uxtools.co
						li
							h3 Conference Speaker at 
								a.underline(target="_blank" href="https://www.openwest.org/") OpenWest 2016
						li
							h3 1st Place 
								a.underline(target="_blank" href="https://www.golucid.co/") Lucid Software 
								|  Hackathon 2016
						li
							h3 Honorable Mention 
								a.underline(target="_blank" href="http://devpost.com/software/project-almuerzo") Devpost 
								|  USDA Hackathon
						li
							h3 1st Place myBYU 
								a.underline(target="_blank" href="https://dribbble.com/shots/1990036-Student-Portal") Student Design Contest 
			.row
				.projects.dribbble
					header
						a(target="_blank" href="https://dribbble.com/taylorpalmer" title="Dribbble")
							include includes/dribbble.svg
							h2 Dribbble
							include includes/arrow-right.svg
					ul.flex-4.placeholder(ng-hide="dribbbleLoaded")
						li
							.image-container
							.text-block
							.text-block.short
						li
							.image-container
							.text-block
							.text-block.short
						li
							.image-container
							.text-block
							.text-block.short
						li
							.image-container
							.text-block
							.text-block.short
						li
							.image-container
							.text-block
							.text-block.short
						li
							.image-container
							.text-block
							.text-block.short
						li
							.image-container
							.text-block
							.text-block.short
						li
							.image-container
							.text-block
							.text-block.short
					ul.flex-4.ng-hide(ng-show="dribbbleLoaded")
						li(ng-repeat="project in dribbble | limitTo:8")
							a(target="_blank" href="{{ project.html_url }}")
								.image-container
									img(ng-src="{{ project.images.normal }}" alt="{{ project.title }}")
								h3 {{ project.title }}
		footer
			p Want to use this code to create your own social portfolio? Reach out 
				a.underline(target="_blank" href="https://www.twitter.com/@_taylorpalmer") on Twitter.
	script(type="text/javascript" src="https://rss2json.com/gfapi.js")
	script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
	script(src="js/app.js")
	script(type="text/javascript").
		(function(e, t) {
		function r(e, t) {
		e[t] = function() {
		e.push([ t ].concat(Array.prototype.slice.call(arguments, 0)));
		};
		}
		var n = "JacoRecorder";
		(function(e, t, i, s) {
		if (!i.__VERSION) {
		e[n] = i;
		var o = [ "init", "identify", "startRecording", "stopRecording", "removeUserTracking", "setUserInfo" ];
		for (var u = 0; u < o.length; u++) r(i, o[u]);
		i.__VERSION = 2, i.__INIT_TIME = 1 * new Date;
		var a = t.createElement("script");
		a.async = !0, a.setAttribute("crossorigin", "anonymous"), a.src = s;
		var f = t.getElementsByTagName("head")[0];
		f.appendChild(a);
		}
		})(e, t, e[n] || [], "//recorder-assets.getjaco.com/recorder_v2.js");
		}).call(window, window, document), window.JacoRecorder.push([ "init", "2d4fa95b-86cf-4897-94da-b461088777ca", {} ]);